# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

- Python
- R
- SQL

Some of the commonly used libraries used by Data Scientists include:
- ggplot: Histograms, bar charts, scatterplots
- Plotly: Web-based data visualizations
- Lattice: Complex, multi-variable data sets

Data Science Tools:
- MySQL
- GitHub
- NodeRed

Below are a few examples of evaluating arithmetic expressions in Python

In [19]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

[1] 17

In [16]:
#This will convert 200 minutes to hours by diving by 60
mi = 200
hours = mi * 60
print(hours)

[1] 12000

Objectives:
1. Data Visualization
2. Data Manipulation with Pandas
3. Function Definitions

Author: NGUYEN DINH TUAN ANH